<a href="https://colab.research.google.com/github/rejinadel/C_programming/blob/main/Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [1]:
def func():    
  print("Hello!, Rezna")

func()

Hello!, Rezna

In [4]:
#Converting Nepali rupees into US dollar
def Rs_dollar(Rupee):
  Into_dollar = Rupee * 0.0075
  print(Into_dollar)
Rs_dollar(1000)

7.5

Asking Parameters using functions

In [5]:
def add(num1,num2):     #Asking Parameters
  num3 = num1+num2      #Adding two numbers and storing it into num3
  print(num3)           
add(2,3)                #providing parameters

5

Converting an object into list object

In [12]:
print(list())
stringobj = ("REZNALAXMIGHIMIRE")
print(list(stringobj))
tupleobj = ("abcde")
print(tuple(tupleobj))
print(list(tupleobj))

[]
['R', 'E', 'Z', 'N', 'A', 'L', 'A', 'X', 'M', 'I', 'G', 'H', 'I', 'M', 'I', 'R', 'E']
('a', 'b', 'c', 'd', 'e')
['a', 'b', 'c', 'd', 'e']

In [16]:
a = 1
for i in range(1,10,1):   #start,stop,step
  a = a*i
print("Multiplication of first 10 natural number:",a)

Multiplication of first 10 natural number: 362880

In [20]:
def add( a,  b):
  sum = a + b
  print(sum)
add(1,2)

3